.wrapper {
	position: relative;
}

.j-firstSlider {
	position: relative;
}

.firstSlider__content {
	position: relative;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}

.sl__first {
	background-image: url("../images/slide11.png");
}

.sl__second {
	background-image: url("../images/slide12.png");
}

.sl__third {
	background-image: url("../images/image2.jpg");
}

.sl__fourth {
	background-image: url("../images/slide14.png");
}

.logo {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.header {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 20px 0px;
}

.header__left {
	float: left;
	padding-top: 10px;
}

.location {
	display: inline-block;
	margin-right: 50px;
}

.location__item {
	display: inline-block;
}

.location__item:after {
	margin-left: 4px;
	content: "|";
	color: #fff;
}

.location__item:last-child:after {
	display: none;
}

.location__item a {
	color: #fff;
	text-decoration: none;
}

.toHomePage {
	display: inline-block;
	color: #fff;
	font-style: italic;
	text-decoration: none;
}

.header__right {
	float: right;
}

.works {
	display: inline-block;
	margin-right: 50px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.btn {
	display: inline-block;
	padding: 9px;
	border: 1px solid;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.info {
	padding: 75px 0;
}

.text {
	float: left;
	width: 70%;
}

.text h1 {
	margin-top: 0;
	margin-bottom: 50px;
	font-size: 36px;
	text-transform: uppercase;
}

.text p {
	margin-top: 0;
	margin-bottom: 50px;
	font-size: 30px;
	font-style: italic;
}

.text p:last-child {
	margin-bottom: 0;
	font-weight: bold;
	font-style: normal;
}

.employees {
	float: left;
	width: 30%;
}

.emloyeers__item {
	width: 50%;
	float: left;
	line-height: 0;
}

.emloyeers__item img {
	width: 100%;
	height: auto;
}

.content__banner {
	position: relative;
}

.j-secondSlider {
	position: relative;
}

.secondSlider__content {
	position: relative;
	height: 100vh;
	background-image: url("../images/image2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.slick-prev {

}

.slick-next {

}

.title__text {
	position: absolute;
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0;
	width: 430px;
	height: 50px;
	margin: auto;
	font-size: 48px;
    text-transform: uppercase;
    color: #fff;
}

.all_projects {
	position: absolute;
	padding: 18px 55px;
	border: 2px solid;
	width: 210px;
	left: 0;
	right: 0;
	bottom: 90px;
	margin: auto;
}


.footer {
	padding: 15px 0;
	background-color: #000;
}

.footer__item {
	float: left;
	width: 25%;
}

.email__right {
	padding-right: 17px;
	text-align: right;
}

.footer__item a {
	color: #fff;
}

.toHomePage_color {
	color: #fafafa;
}

.number_padding {
	padding-left: 17px;
}

.telNumber {
	text-decoration: none;
}

.footer__cp {
	color: #aeaeae;
}

.cp_right {
	text-align: right;
}

.footer__cp a {
	color: #aeaeae;
}